/* Font Imports */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

/* General Declarations */
html 
{
    background: #ebebeb;
    font-family: 'Open Sans', sans-serif;
}

body, input, select, textarea
{
    background: #ebebeb;
}

a
{
    color: #161922;
}

input:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}