.main-container
{
    left: 0;
    right: 0;
    bottom: 0;
    top: 100px;
    padding: 3em;
    overflow-y: auto;
    position: absolute;
}

.banner
{
    background-attachment: fixed;
    background-color: #1C1C1C;
    background-image: url("/assets/images/banner.jpg");
    background-position: center center;
    background-size: cover;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), inset 0 1px rgba(255,255,255,0.65);
    position: relative;
    z-index: 21;
}

.slogan
{
    color: #fff;
    font-weight: 200;
    font-size: 55px;
    text-align: center;
    letter-spacing: -0.025em;
}

.overlay
{
    background: -moz-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.25));
    background: -webkit-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.25));
}

.overlay, .landing-page, .banner
{
    height: 100vh;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.logo
{
    color: #fff;
    top: 0;
    left: 0;
    font-size: 25px;
    font-weight: 300;
    margin: 5px 10px;
    position: absolute;
}

.logo img
{
    height: 40px;
    vertical-align: -17px;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}


.instructions
{
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    margin: 10px 30px 70px;
}

.instructions a
{
    color: #fff;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.instructions .instruction-arrow
{
    opacity: 1;
    margin: 0 8px 0;
    height: 24px;
    vertical-align: -6px;
    display: inline-block;
}

.generate-url input
{
    height: 50px;
    margin: 0 5px;
    width: 480px;
    color: #222;
    font-size: 18px;
    border-radius: 1px;
    padding: 12px 15px 15px 15px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.generate-submit
{
    text-align: center;
    margin: 25px 0 0 0;
}

.generate-submit input
{
    color: #333;
    font-size: 12px;
    padding: 8px 15px;
    border-radius: 1px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.loading-container.md-default-theme
{
    background: #ebebeb;
}

.loading-container
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    margin: auto auto;
}

.contact
{
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    color: #fff;
    display: inline;
    font-size: 13px;
    position: absolute;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

.contact a
{
    color: #fff;
    text-decoration: none;
}

/* Reponsive Fixes */

@media(max-width: 500px)
{
    .main-container
    {
        padding: 2em;
    }

    .slogan
    {
        font-size: 45px;
    }

    .generate-url input
    {
        width: 250px;
    }
}