.overlay:before {
    background: #000;
    opacity: 0.5;
}

.slogan-container {
    top: 15%;
}

.cover .align-bottom {
    bottom: 10%;
}

.feature .icon {
    opacity: 0.8;
    color: #e31d3b;
}

.fork-me {
    top: 0;
    right: 0;
    border: 0;
    z-index: 5;
    position: absolute;
}

.spinner {
    display: none;
}

.logo-container {
    top: 15px;
    left: 15px;
    z-index: 5;
    position: absolute;
}

::-webkit-input-placeholder {
  text-transform: none;
}

::-moz-placeholder {
  text-transform: none;
}

:-moz-placeholder {
  text-transform: none;
}

-ms-input-placeholder  {
  text-transform: none;
}

@media (max-width: 767px) {
    .text-center-mobile {
        text-align: center;
    }
}
